@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Noto Sans', sans-serif;
}


body{
    padding-top: 40px;
    box-sizing: border-box;
}

#main{
    width: 700px ;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;
    background-color: rgb(229, 231, 240) ;
    box-shadow: 0px 0.5px 5px rgb(0, 12, 63);
}

.title{
    font-weight: 600;
    font-family: 'Noto Sans', sans-serif;
    font-size: 36px;
    transition: 0.3s;
    color: rgb(18, 38, 129);
}

.title:hover{
    color: rgb(68, 92, 197);
    transform: scale(1.03);
}

.inputfield{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#btn{
    font-family: 'Noto Sans', sans-serif;
    background-color:rgb(68, 92, 197);
    color: rgb(255, 255, 255) ;
    font-weight: bold;
}

#btn:hover{
    background-color: rgb(255, 255, 255);
    color:rgb(68, 92, 197);
    border: solid 0.5px rgb(68, 92, 197);
    transition: 0.3s;
}

.tasklist{
    width: 100%;
} 

ul{
    width: 100%;
    padding: 0px;
}

li{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size:20px;
    padding: 0px !important; 
    font-family: 'Noto Sans', sans-serif;
}

.material-icons{
    color: rgb(250, 66, 66);
    transition: all 0.7s;
}

.material-icons:hover{
    transform: rotateZ(360deg);
}

a {
    cursor: pointer;
}